* {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: "calibri";
}

@font-face {
	font-family: "calibri";
	font-style: normal;
	font-weight: normal;
	src: url(../fonts/calibri.eot);
	src: url(../fonts/calibri.eot?#iefix) format("emdebedded-opentype"),
		 url(../fonts/calibri.ttf) format("truetype"),
		 url(../fonts/calibri.svg) format("svg"),
		 url(../fonts/calibri.woff) format("woff");
}
a:hover {
	cursor: pointer;
	text-decoration: underline;
}

body {
	font-family: "calibri";
}

footer  {
	font-family: "calibri";
	text-align:center;
}

hr {
	border: 4px solid #000;
}

input[type=password] {
	font-family: "calibri";
}

input[type=text] {
	font-family: "calibri";
}

label {
	font-family: "calibri";
}

.add {
    font-size: 2em;
}

.brand {
	border-right:2px solid #FFFFFF;
	color:red;
	height:20px;
	min-width:100px;
}

.link-footer {
    color: #000;
    margin: 0 10px;
    text-decoration: none;
}

.link-footer:hover {
    color: #000;
    text-decoration: none;
}

.navbar {
	font-family: "calibri";
	font-size:2em;
	min-height:20%;
}

.navbar-inner {
	min-height:20%;
}

p {
	font-family: "calibri";
}

select  {
	font-family: "calibri";
}

table {
	font-family: "calibri";
}

.back {
	font-family: "calibri";
	font-size:1.5em;
	position:absolute;
	right:28%;
	top:0;
}

.casillas {
	font-size: 3em;
	margin: 20px 0;
}

.home{
	position: absolute;
	top: 0; 
	left: 14.5%;
	width: 5%;
	height: 5%;
	background-color: transparent;
}

.logo {
	position: relative;
	padding-top:100px;
	left:0;
	padding-right:70%;
}

.logo-register {
	position: relative;
	padding-top:50px;
	margin-bottom:50px;
	left:0;
	padding-right:70%;
}

.logo-seccion {
	position: relative;
	margin-top:40px;
	margin-bottom:30px;
	left:0;
	padding-right:70%;
}

.logout {
	position: absolute;
	top: 0; 
	right: 6%;
	width: 8%;
	height: 5%;
	background-color: transparent;
}

.profile {
	position: absolute;
	top: 0; 
	right: 20%;
	width: 5%;
	height: 5%;
	background-color: transparent;
}

.titulo {
	font-family: "calibri";
	text-align:center;
}
	  
.form-signin {
	max-width: 300px;
	padding: 19px 29px 29px;
	margin: 0 auto 20px;
	background-color: #fff;
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
			border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	   -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
			box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.form-signin .form-signin-heading, .form-signin .checkbox {
	margin-bottom: 10px;
}
.form-signin input[type="text"], .form-signin input[type="password"] {
	font-size: 16px;
	height: auto;
	margin-bottom: 15px;
	padding: 7px 9px;
}

.seccion {
	color: #FFF;
	font-weight: normal;
	font-family: "calibri";
	margin-left:10%;
	
}

.suppliers_list {
	font-size:2em;
	margin: 0 0 15px 0;
}

.text-finder {
    font-size: 2em;
    margin-top: 15px;
    margin-bottom: 15px;
}

#hide {
	display:none;
}

#supplier-text-finder {
	font-size: 2em;
	margin-top:30px;
	margin-bottom:15px;
}

#sure-send-quote {
    margin-left: 35%;
}

#imagen-finder {
	margin:0 auto;
	display:inline-block;
	vertical-align:middle;
}

#logo_inicial {
    margin-top: 3%;
    width: 80%;
}

#or {
    margin-bottom: 25px;
}

#radio_product {
	font-size: 2em;
}

#radio_supplier {
	font-size: 2em;
}

#sendquote {
	border: 0;
}

#titulo-finder {
	margin:0 auto;
	display:inline-block;
	font-family: "calibri";
	text-align:center;
	vertical-align:middle;
}

#unsuscribe {
    position: inherit;
    margin-left: 10%;
}

#quotes a {
    text-decoration: none;
}

#quotes .burbuja {
    background: none repeat scroll 0 0 #ff0000;
    display: block;
    position: absolute;
    right: 20%;
    line-height: 16px;
    height: 16px;
    padding: 0 5px;
    font-family: Arial, sans-serif;
    color: #ffffff;
    text-shadow: 0 1px red;
    border: 1px solid #000000;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 1px red, 0 1px 1px red;
    box-shadow: inset 0 1px red, 0 1px 1px red;
}
